.container {
    background-color: transparent;
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    position: absolute;

    div {
        width: 120px;
    }
}

@media (max-width: 800px) {
    .container {
        padding: 0 2rem;
    }
}