.container {
    background-color: transparent;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    position: absolute;

    >div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        position: relative;

        >div {
            width: 120px;
        }


    }
}



@media (max-width: 800px) {}