.container {
    background-color: transparent;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    position: absolute;

    >div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        position: relative;

        >div {
            width: 120px;
        }


    }

    .switch {
        position: fixed;
        top: 80vh;
        z-index: 999999999999;
        opacity: .8;

        img {
            width: 46px;
            height: 32px;
            border-radius: 25%;
            padding: 2px
        }
    }
}

@media (max-width: 800px) {

    .switch {
        margin-left: 54px;
    }
}



@media (max-width: 800px) {}