.container {
    width: 100%;
    margin-bottom: 1rem;

    input {
        padding: .5rem;
        border-radius: 5px;
        flex: 1;
        border: 1px solid var(--gray-100);
        background-color: var(--gray-500);
        width: 100%;
        color: var(--white);

        &:focus {
            outline: none;
        }
    }
}

.primary {
    background-color: var(--primary);
    color: var(--white);
}

.white {
    background-color: var(--white);
    color: var(--primary);
}

.errorContainer {
    border-color: var(--red);
    color: var(--red);

    input {
        border: 1px solid var(--red);
 
    }
}

.textArea {
    height: 5rem;
}