.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        border-radius: 10px;
    }

    p {
        opacity: 0;
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center ;
        top: 10px;
    }

    svg {
        opacity: 0;
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center ;
        bottom: 10px;
        color: var(--blue-100);
    }

    &:hover {
        cursor: pointer;

        p {
            transition: .4s;
            background-color: var(--gray-500);
            padding: .4rem;
            border-radius: 10px;
            opacity: 1;
        }
        svg {
            transition: .4s;
            border-radius: 10px;
            opacity: 1;

            &:hover{
                color: var(--primary);
            }
        }
    }
}

@media (max-width: 800px) {
    .container {
        margin-bottom: 2rem;
    }
}