.container {
    position: relative;
    width: 45%;
    list-style: none;
    height: 140px;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;


    img {
        object-fit: cover;
        position: absolute;
        border-radius: 10px;
        width: inherit;
        height: inherit;
    }

    p {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        top: 50%;
        opacity: 0;
        font-size: 1.4rem;
        font-weight: bold;
    }

    svg {
        opacity: 0;
        display: flex;
        font-size: 2rem;
        position: absolute;
        color: var(--blue-100);
    }

    &:hover {
        transition: .4s;
        cursor: pointer;

        img {
            transition: .4s;
            filter: brightness(50%);
            filter: blur(2px);
            -webkit-transform: scale(.95);
            -moz-transform: scale(.95);
            -o-transform: scale(.95);
            -ms-transform: scale(.95);
            transform: scale(.95);
        }

        p {
            transition: .4s;
            opacity: 1;
            top: 90%;
            font-weight: bold;
            color: var(--primary);
        }

        svg {
            transition: .4s;
            opacity: 1;

            &:hover {
                transition: .4s;
                color: var(--blue-100);
            }
        }
    }


}

@media (max-width: 800px) {

    .container {
        width: 100%;
        margin-bottom: 2rem;

        img {
            height: auto;
        }


        &:hover {
            transition: .3s;
            width: 100%;
            height: 110px;
        }

    }
}