.container {
    position: relative;
    width: 220px;
    list-style: none;
    height: 110px;

    img {
        object-fit: cover;
        box-shadow: 0px 0px 15px var(--gray-200);
        position: absolute;
        border-radius: 10px;
        width: inherit;
        border: 2px solid var(--gray-100);
        height: inherit;
    }

    p {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        top: 50%;
        opacity: 0;
        font-size: 1.4rem;
        font-weight: bold;
    }

    svg {
        opacity: 0;
        display: flex;
        left: 43%;
        top: 30%;
        font-size: 2rem;
        position: absolute
    }

    &:hover {
        transition: .4s;
        cursor: pointer;

        img {
            transition: .4s;
            filter: brightness(50%);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            box-shadow: 0px 0px 5px var(--gray-300);
        }

        p {
            transition: .4s;
            opacity: 1;
            top: 90%;
            font-weight: bold;
            color: var(--primary);
        }

        svg {
            transition: .4s;
            opacity: 1;

            &:hover {
                transition: .4s;
                color: var(--blue-100);
            }
        }
    }


}

@media (max-width: 800px) {

    .container {
        width: 100%;
        margin-bottom: 2rem;

        img {
            height: auto;
        }


        &:hover {
            transition: .3s;
            width: 100%;
            height: 110px;
        }

    }
}