.container {
    background-color: var(--white);
}

.hello {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            var(--primary)), url('/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    >div {
        width: 80%;

        h1 {
            font-size: 3.2rem;
            color: var(--white);
            letter-spacing: 4px;
            margin-bottom: 2rem;
        }

        h3 {
            font-size: 2.5rem;
            font-weight: 100;
            line-height: 1.4;
            letter-spacing: 2px;
            color: var(--white);

            >span {
                font-weight: bold;
            }

            &:hover {
                transition: .3s;
                letter-spacing: 3px;
            }
        }

        p {
            font-size: 1.8rem;
            font-weight: 100;
            padding-top: 2rem;
            color: var(--white);
        }
    }
}

.whatido {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(var(--primary), var(--gray-900));
    justify-content: flex-start;
    padding-bottom: 4rem;

    >div {
        width: 80%;

        >h1 {
            font-size: 3rem;
            display: flex;
            width: 80%;
            justify-content: flex-start;
            padding-top: 2rem;
            padding-bottom: 1rem;
            letter-spacing: 5px;
        }

        >h2 {
            width: 80%;
            display: flex;
            font-size: 1.5rem;
            font-weight: 200;
            margin-bottom: 2rem;
            justify-content: flex-start;
        }

        .services {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 0;
            padding: 0 0;
        }

        // /* width */
        // ::-webkit-scrollbar {
        //     width: 10px;
        // }

        // /* Track */
        // ::-webkit-scrollbar-track {
        //     background: transparent;
        // }

        // /* Handle */
        // ::-webkit-scrollbar-thumb {
        //     background: rgb(15, 15, 15);
        // }

        // /* Handle on hover */
        // ::-webkit-scrollbar-thumb:hover {
        //     background: rgb(96, 96, 96);
        // }
    }

}

.works {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(var(--gray-900), var(--white));
    width: 100%;

    h1 {
        display: flex;
        width: 80%;
        justify-content: flex-start;
        font-size: 3rem;
        padding: 2rem 0;
        letter-spacing: 5px;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 100;
        width: 80%;
    }

    .listWorks {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        padding: 2rem 0;
    }

    .seeMore {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: none;
    }

}

.aboutme {
    background-image: linear-gradient(var(--white), var(--gray-500));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;


    >h1 {
        color: var(--gray-900);
        font-size: 3rem;
        display: flex;
        align-items: flex-start;
        width: 80%;
        letter-spacing: 5px;
        margin: 2rem 0;
    }

    .content {

        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        >p {
            color: var(--gray-800);
            font-weight: 600;
            font-size: 1.2rem;
            width: 50%;
            z-index: 9;
            line-height: 1.5;


            a {
                color: var(--blue-100);

                &:hover {
                    cursor: pointer;
                    color: var(--primary);
                }
            }
        }

        img {
            position: absolute;
            max-width: max-content;
            bottom: 0;
            right: 2rem;

            @media (max-width: 900px) {
                right: 0;

            }
        }

    }

    .seeResume {
        margin-top: 2rem;
        width: 80%;
        display: flex;
        align-items: flex-start;
        padding-bottom: 2rem;
        z-index: 9;

        >a {
            padding: 1rem;
            border-radius: 10px;
            color: var(--white);
            background-color: var(--gray-900);
            border: 1px solid transparent;

            &:hover {
                transition: .4s;
                cursor: pointer;
                background-color: var(--white);
                border: 1px solid var(--gray-900);
                font-weight: bold;
                color: var(--gray-900);
            }
        }


    }

    &:hover {
        >h1 {
            transition: .4s;
            letter-spacing: 10px;
        }

    }

}

.technologies {
    background-image: linear-gradient(var(--gray-500), var(--primary));

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    // padding: 2rem 0;

    >h1 {
        color: var(--white);
        font-size: 3rem;
        display: flex;
        align-items: flex-start;
        width: 80%;
        letter-spacing: 4px;
        padding-top: 1rem;
    }

    >p {
        width: 80%;
        font-size: 1.5rem;
        padding-bottom: 2rem;
    }

    .listTechnologies {
        width: 80%;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;

        .icon {
            padding: .5rem 2rem;
            width: 15%;
            border: 2px solid var(--gray-500);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            margin-bottom: 5rem;
            position: relative;

            &:hover {
                transition: .3s;
                cursor: pointer;
                border: 2px solid var(--gray-200);

                >p {
                    transition: .3s;
                    opacity: 1;
                    text-align: center;
                }
            }

            >p {
                opacity: 0;
                position: absolute;
                top: 85%
            }

        }

    }

}

.getintouch {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;

    >h1 {
        color: var(--white);
        font-size: 3rem;
        display: flex;
        align-items: flex-start;
        width: 80%;
        letter-spacing: 5px;
        padding-top: 1rem;
    }

    >p {
        width: 80%;
        padding-bottom: 2rem;
    }

    .form {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        width: 80%;

        >div {
            display: flex;
            flex-direction: column;
            width: 49%;

            >input {
                padding-bottom: 1rem;
                margin-bottom: 1rem;

            }
        }

        .textarea {
            height: 108px;

            input {
                height: 100%;
            }
        }
    }

    .buttonSend {
        width: 80%;
        display: flex;
        justify-content: flex-start;
        padding-top: 1rem;

        >button {
            width: 220px;
        }
    }
}

@media (max-width: 800px) {
    .hello {
        display: flex;
        align-items: center;
        width: 100%;

        >div {
            width: 80%;

            h1 {
                font-size: 2rem;
                width: 100%;
                align-items: flex-start;
                margin-bottom: 2rem;
            }

            h3 {
                font-size: 1.2rem;
                font-weight: 100;
                line-height: 1.8;
                letter-spacing: 2px;
                margin-top: 2rem;

                >span {
                    font-weight: bold;
                }
            }

            p {
                font-size: 1rem;
                font-weight: 100;

            }
        }
    }

    .whatido {
        

        >div {


            >h1 {
                font-size: 2rem;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                padding-bottom: 1rem;
            }

            >h2{
                font-size: 1rem;
                font-weight: 100;
            }


        }
    }

    .works {
        margin-bottom: 4rem;

        h1 {
            display: flex;
            width: 80%;
            justify-content: flex-start;
            font-size: 2rem;
        }

        >h3 {
            font-size: 1rem;
            margin-bottom: 2rem;
            
        }

        .listWorks {
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-between;
            width: 80%;
            height: auto;
            margin-top: 2rem;

            li:first-child {
                margin-top: -15%
            }

            li {
                margin-bottom: 20%
            }

            li:last-child {
                margin-bottom: -15%;
            }
        }
    }

    .aboutme {
        padding-bottom: 20rem;

        >h1 {
            font-size: 2rem;
            width: 80%;
        }

        .content {
            width: 80%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-between;

            >p {
                color: var(--black);
                font-weight: 600;
                font-size: 1.1rem;
                font-weight: 500;
                text-align: justify;
                width: 100%;

                span {
                    color: var(--blue-100);

                    &:hover {
                        cursor: pointer;
                        color: var(--primary);
                    }
                }
            }

            img {
                top: 125%;
                right: 10%;
            }
        }

        .seeResume {
            width: 80%;
        }
    }

    .technologies {

        h1 {
            font-size: 2rem;
            width: 80%;
        }

        >p {
            width: 80%;
            font-size: 1rem;
            font-weight: 100;
        }

        .listTechnologies {
            width: 80%;
            margin-top: 1rem;

            .icon {
                width: 30%;
                margin-bottom: 3rem;
            }

            // >a:last-child{
            //     margin-bottom: 0rem;
            // }
        }
    }

    .getintouch {
        width: 100%;

        >h1 {
            padding-top: 1rem;
            font-size: 2rem;
        }

        .form {
            align-items: center;
            flex-direction: column;
            width: 80%;

            >div {
                width: 100%;
            }
        }
    }
}